<!DOCTYPE html>
<!--[if IE 9 ]> <html lang="en-US" class="ie9 loading-site no-js"> <![endif]-->
<!--[if IE 8 ]> <html lang="en-US" class="ie8 loading-site no-js"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en-US" class="loading-site no-js"> <!--<![endif]-->

<head>
<title>new eyelooks</title>
<link href="contactform.css" type="text/css" rel="stylesheet" />
<link href="contactform2.css" type="text/css" rel="stylesheet" />
<link href="contactform3.css" type="text/css" rel="stylesheet" />
<link href="contactform4.css" type="text/css" rel="stylesheet" />
<link href="contactform5.css" type="text/css" rel="stylesheet" />
<link href="contactform6.css" type="text/css" rel="stylesheet" />
<link href="contactform7.css" type="text/css" rel="stylesheet" />
<link href="contactform8.css" type="text/css" rel="stylesheet" />
<link rel="alternate" type="application/rss+xml" title="EyeLooks &raquo; Feed" href="https://eyelooks.in/feed/" />
<link rel="alternate" type="application/rss+xml" title="EyeLooks &raquo; Comments Feed" href="https://eyelooks.in/comments/feed/" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

		
<link rel='stylesheet' id='contact-form-7-css'  href='contactform.css' type='text/css' media='all' />



<style id='woocommerce-inline-inline-css' type='text/css'>
.woocommerce form .form-row .required { visibility: visible; }
</style>
<link rel='stylesheet' id='jquery-selectBox-css'  href='contactform2.css' type='text/css' media='all' />
<link rel='stylesheet' id='flatsome-icons-css'  href='contactform3.css' type='text/css' media='all' />
<link rel='stylesheet' id='flatsome-woocommerce-wishlist-css'  href='contactform4.css' type='text/css' media='all' />
<link rel='stylesheet' id='popup-maker-site-css'  href='contactform5.css' type='text/css' media='all' />
<link rel='stylesheet' id='flatsome-main-css'  href='contactform6.css' type='text/css' media='all' />
<link rel='stylesheet' id='flatsome-shop-css'  href='contactform7.css' type='text/css' media='all' />

<link rel='stylesheet' id='flatsome-style-css'  href='contactform8.css' type='text/css' media='all' />

<link rel='https://api.w.org/' href='https://eyelooks.in/wp-json/' />
<link rel="EditURI" type="application/rsd+xml" title="RSD" href="https://eyelooks.in/xmlrpc.php?rsd" />
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="https://eyelooks.in/wp-includes/wlwmanifest.xml" /> 
<link rel="canonical" href="https://eyelooks.in/" />
<link rel='shortlink' href='https://eyelooks.in/' />
<link rel="alternate" type="application/json+oembed" href="https://eyelooks.in/wp-json/oembed/1.0/embed?url=https%3A%2F%2Feyelooks.in%2F" />
<link rel="alternate" type="text/xml+oembed" href="https://eyelooks.in/wp-json/oembed/1.0/embed?url=https%3A%2F%2Feyelooks.in%2F&#038;format=xml" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<style>
body{
background-color: 	#FFFFFF;
}
</style>
<style>.bg{opacity: 0; transition: opacity 1s; -webkit-transition: opacity 1s;} .bg-loaded{opacity: 1;}</style><!--[if IE]><link rel="stylesheet" type="text/css" href="https://eyelooks.in/wp-content/themes/flatsome/assets/css/ie-fallback.css"><script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js"></script><script>var head = document.getElementsByTagName('head')[0],style = document.createElement('style');style.type = 'text/css';style.styleSheet.cssText = ':before,:after{content:none !important';head.appendChild(style);setTimeout(function(){head.removeChild(style);}, 0);</script><script src="https://eyelooks.in/wp-content/themes/flatsome/assets/libs/ie-flexibility.js"></script><![endif]-->    	<noscript><style>.woocommerce-product-gallery{ opacity: 1 !important; }</style></noscript>
	<link rel="icon" href="images/cropped-EyeLookLogo-1-32x32.png" sizes="32x32" />
<link rel="icon" href="images/cropped-EyeLookLogo-1-192x192.png" sizes="192x192" />
<link rel="apple-touch-icon-precomposed" href="images/cropped-EyeLookLogo-1-180x180.png" />
<meta name="msapplication-TileImage" content="images/cropped-EyeLookLogo-1-270x270.png" />



<style scope="scope">

#banner-1971029646 {
  padding-top: 500px;
}
#banner-1971029646 .bg.bg-loaded {
  background-image: url(images/missing.jpg);
}
#banner-1971029646 .overlay {
  background-color: rgba(0,0,0,.4);
}
</style>
<style scope="scope">

#text-box-184669015 {
  width: 60%;
}
#text-box-184669015 .text {
  font-size: 100%;
}


@media (min-width:550px) {

  #text-box-184669015 {
    width: 50%;
  }

}
</style>
<link href="stylesheet1.css" type="text/css" rel="stylesheet" />
<link href="stylesheet2.css" type="text/css" rel="stylesheet" />

</head>






<body data-rsssl=1 class="home page-template page-template-page-blank page-template-page-blank-php page page-id-96 woocommerce-no-js lightbox nav-dropdown-has-arrow">
<header id="header" class="header has-sticky sticky-jump">
   <div class="header-wrapper">
<div id="masthead" class="header-main">
<div class="header-inner flex-row container logo-left medium-logo-center" role="navigation"> <!--logo-->
<div id="logo" class="flex-col logo" > <!--header logo-->
<a href="" title="EyeLooks - Top Brands of Eyeglasses, Sunglasses &amp; Contact Lenses at Best Price." rel="home">
    <img width="133" height="100" src="images/imageedit_1_6838559865.png" class="header_logo header-logo" alt="EyeLooks"/><img  width="133" height="100" src="images/EyeLookLogo-1.png" class="header-logo-dark" alt="EyeLooks"/></a>
          </div>

          <!-- Mobile Left Elements -->
		  <div class="flex-col show-for-medium flex-left">
            <ul class="mobile-nav nav nav-left ">
              <li class="nav-icon has-icon">
  		<a href="#" data-open="#main-menu" data-pos="left" data-bg="main-menu-overlay" data-color="" class="is-small" aria-controls="main-menu" aria-expanded="false">
		
		  <i class="icon-menu" ></i>
		  		</a>
	</li>            </ul>
          </div>

          <!-- Left Elements -->
		  <div class="flex-col hide-for-medium flex-left
            flex-grow">
            <ul class="header-nav header-nav-main nav nav-left  nav-uppercase" >
			<li id="menu-item-305" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item active  menu-item-305"><a href="/" class="nav-top-link">Home</a></li>
			<li id="menu-item-306" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children  menu-item-306 has-dropdown"><a href="men1.html" class="nav-top-link">Men<i class="icon-angle-down"></i></a>
<ul class="nav-dropdown nav-dropdown-simple">
	<li id="menu-item-3227" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children  menu-item-3227 nav-dropdown-col"><a href="men1.html">Men</a>
	<ul class="nav-column nav-dropdown-simple">
		<li id="menu-item-310" class="menu-item menu-item-type-custom menu-item-object-custom  menu-item-310"><a href="/product-category/men/eyeglasses-men/">Power Eyeglasses</a></li>
		<li id="menu-item-318" class="menu-item menu-item-type-custom menu-item-object-custom  menu-item-318"><a href="/product-category/men/sunglasses/">Sunglasses</a></li>
		<li id="menu-item-3165" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat  menu-item-3165"><a href="https://eyelooks.in/product-category/men/power-sunglasses/">Power Sunglasses</a></li>
	</ul>
</li>
	<li id="menu-item-3233" class="image-column menu-item menu-item-type-custom menu-item-object-custom  menu-item-3233"><a href="#" class="dropdown-image-column"><img width="180" height="480" src="images/24137f8fd8dbe98afdbdbb579c643c4b.png" title="MenImg" alt="MenImg"></a></li>
	</ul>
	</li>
<li id="menu-item-307" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children  menu-item-307 has-dropdown"><a href="/product-category/women/" class="nav-top-link">Women<i class="icon-angle-down" ></i></a>
<ul class='nav-dropdown nav-dropdown-simple'>
	<li id="menu-item-336" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children  menu-item-336 nav-dropdown-col"><a href="#">Women</a>
	<ul class='nav-column nav-dropdown-simple'>
		<li id="menu-item-320" class="menu-item menu-item-type-custom menu-item-object-custom  menu-item-320"><a href="/product-category/women/eyeglasses">Power Eyeglasses</a></li>
		<li id="menu-item-322" class="menu-item menu-item-type-custom menu-item-object-custom  menu-item-322"><a href="/product-category/women/sunglasses-women">Sunglasses</a></li>
		<li id="menu-item-3167" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat  menu-item-3167"><a href="https://eyelooks.in/product-category/women/power-sunglasses-women/">Power Sunglasses</a></li>
	</ul>
</li>
	<li id="menu-item-337" class="image-column menu-item menu-item-type-custom menu-item-object-custom  menu-item-337"><a href="#" class="dropdown-image-column"><img width="180" height="480" src="images/imageedit_1_3336814519.png" title="Women Image" alt="Women Image"/></a></li>
</ul>
</li>
<li id="menu-item-308" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children  menu-item-308 has-dropdown"><a href="/product-category/kids/" class="nav-top-link">Kids<i class="icon-angle-down" ></i></a>
<ul class='nav-dropdown nav-dropdown-simple'>
	<li id="menu-item-3231" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children  menu-item-3231 nav-dropdown-col"><a href="#">Kids</a>
	<ul class='nav-column nav-dropdown-simple'>
		<li id="menu-item-324" class="menu-item menu-item-type-custom menu-item-object-custom  menu-item-324"><a href="/product-category/kids/eyeglasses-kids">Power Eyeglasses</a></li>
		<li id="menu-item-325" class="menu-item menu-item-type-custom menu-item-object-custom  menu-item-325"><a href="/product-category/kids/sunglasses-kids">Sunglasses</a></li>
		<li id="menu-item-3164" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat  menu-item-3164"><a href="https://eyelooks.in/product-category/kids/power-sunglasses-kids/">Power Sunglasses</a></li>
	</ul>
</li>
	<li id="menu-item-3232" class="image-column menu-item menu-item-type-custom menu-item-object-custom  menu-item-3232"><a href="#" class="dropdown-image-column"><img width="180" height="480" src="https://eyelooks.in/wp-content/uploads/2018/04/imageedit_1_4101261008.png" title="KidsImg" alt="KidsImg"/></a></li>
</ul>
</li>
<li id="menu-item-309" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children  menu-item-309 has-dropdown"><a href="/product-category/teens/" class="nav-top-link">Teens<i class="icon-angle-down" ></i></a>
<ul class='nav-dropdown nav-dropdown-simple'>
	<li id="menu-item-3235" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children  menu-item-3235 nav-dropdown-col"><a href="#">Teens</a>
	<ul class='nav-column nav-dropdown-simple'>
		<li id="menu-item-331" class="menu-item menu-item-type-custom menu-item-object-custom  menu-item-331"><a href="/product-category/teens/eyeglasses-teens">Power Eyeglasses</a></li>
		<li id="menu-item-332" class="menu-item menu-item-type-custom menu-item-object-custom  menu-item-332"><a href="/product-category/teens/sunglasses-teens">Sunglasses</a></li>
		<li id="menu-item-3166" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat  menu-item-3166"><a href="https://eyelooks.in/product-category/teens/power-sunglasses-teens/">Power Sunglasses</a></li>
	</ul>
</li>
	<li id="menu-item-3236" class="image-column menu-item menu-item-type-custom menu-item-object-custom  menu-item-3236"><a href="#TeenImg" class="dropdown-image-column"><img width="180" height="480" src="https://eyelooks.in/wp-content/uploads/2018/04/84200ab9ba52b9c525db82ad33afcee6.png" title="TeenInm" alt="TeenInm"/></a></li>
</ul>
</li>
<li id="menu-item-328" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children  menu-item-328 has-dropdown"><a href="#" class="nav-top-link">Contact Lenses<i class="icon-angle-down" ></i></a>
<ul class='nav-dropdown nav-dropdown-simple'>
	<li id="menu-item-317" class="menu-item menu-item-type-custom menu-item-object-custom  menu-item-317"><a href="/product-category/contact-lenses-2/monthly-disposable">Monthly disposable</a></li>
	<li id="menu-item-319" class="menu-item menu-item-type-custom menu-item-object-custom  menu-item-319"><a href="/product-category/contact-lenses-2/yearly-disposable/">Yearly disposable</a></li>
	<li id="menu-item-323" class="menu-item menu-item-type-custom menu-item-object-custom  menu-item-323"><a href="/product-category/contact-lenses-2/weekly-disposable/">Daily disposable</a></li>
	<li id="menu-item-330" class="menu-item menu-item-type-custom menu-item-object-custom  menu-item-330"><a href="/product-category/contact-lenses-2/color-power-lens/">Color power lens</a></li>
	<li id="menu-item-3246" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat  menu-item-3246"><a href="https://eyelooks.in/product-category/contact-lenses-2/toric-lenses/">Toric Lenses</a></li>
	<li id="menu-item-354" class="menu-item menu-item-type-custom menu-item-object-custom  menu-item-354"><a href="/product-category/contact-lenses-2/color-contact-lens/">Color contact lens</a></li>
	<li id="menu-item-329" class="menu-item menu-item-type-custom menu-item-object-custom  menu-item-329"><a href="/product-category/solution">Solution</a></li>
</ul>
</li>
<li id="menu-item-386" class="menu-item menu-item-type-custom menu-item-object-custom  menu-item-386"><a href="/product-category/reading/" class="nav-top-link">Reading Glasses</a></li>
<li id="menu-item-311" class="menu-item menu-item-type-custom menu-item-object-custom  menu-item-311"><a href="/repair" class="nav-top-link">Repair</a></li>
<li id="menu-item-312" class="menu-item menu-item-type-custom menu-item-object-custom  menu-item-312"><a href="/customize" class="nav-top-link">Customize</a></li>
            </ul>
          </div>

          <!-- Right Elements -->
          <div class="flex-col hide-for-medium flex-right">
            <ul class="header-nav header-nav-main nav nav-right  nav-uppercase">
              <li class="header-search header-search-dropdown has-icon has-dropdown menu-item-has-children">
		<a href="#" class="is-small"><i class="icon-search" ></i></a>
		<ul class="nav-dropdown nav-dropdown-simple">
	 	<li class="header-search-form search-form html relative has-icon">
	<div class="header-search-form-wrapper">
		<div class="searchform-wrapper ux-search-box relative form- is-normal"><form role="search" method="get" class="searchform" action="https://eyelooks.in/">
		<div class="flex-row relative">
									<div class="flex-col flex-grow">
			  <input type="search" class="search-field mb-0" name="s" value="" placeholder="Search&hellip;" />
		    <input type="hidden" name="post_type" value="product" />
        			</div><!-- .flex-col -->
			<div class="flex-col">
				<button type="submit" class="ux-search-submit submit-button secondary button icon mb-0">
					<i class="icon-search" ></i>				</button>
			</div><!-- .flex-col -->
		</div><!-- .flex-row -->
	 <div class="live-search-results text-left z-top"></div>
</form>
</div>	</div>
</li>	</ul><!-- .nav-dropdown -->
</li>
<li class="header-divider"></li><li class="cart-item has-icon has-dropdown">

<a href="" title="Cart" class="header-cart-link is-small">


<span class="header-cart-title">
   Cart   /      <span class="cart-price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#8377;</span>0.00</span></span>
  </span>

    <span class="cart-icon image-icon">
    <strong>0</strong>
  </span>
  </a>

 <ul class="nav-dropdown nav-dropdown-simple">
    <li class="html widget_shopping_cart">
      <div class="widget_shopping_cart_content">
        

	<p class="woocommerce-mini-cart__empty-message">No products in the cart.</p>


      </div>
    </li>
     </ul><!-- .nav-dropdown -->

</li>
            </ul>
          </div>

          <!-- Mobile Right Elements -->
          <div class="flex-col show-for-medium flex-right">
            <ul class="mobile-nav nav nav-right ">
              <li class="account-item has-icon">
	<a href="#"
	class="account-link-mobile is-small" title="My account">
	  <i class="icon-user" ></i>	</a><!-- .account-link -->
</li>
<li class="cart-item has-icon">

      <a href="#" class="header-cart-link off-canvas-toggle nav-top-link is-small" data-open="#cart-popup" data-class="off-canvas-cart" title="Cart" data-pos="right">
  
    <span class="cart-icon image-icon">
    <strong>0</strong>
  </span> 
  </a>


  <!-- Cart Sidebar Popup -->
  <div id="cart-popup" class="mfp-hide widget_shopping_cart">
  <div class="cart-popup-inner inner-padding">
      <div class="cart-popup-title text-center">
          <h4 class="uppercase">Cart</h4>
          <div class="is-divider"></div>
      </div>
      <div class="widget_shopping_cart_content">
          

	<p class="woocommerce-mini-cart__empty-message">No products in the cart.</p>


      </div>
             <div class="cart-sidebar-content relative"></div>  </div>
  </div>

</li>
            </ul>
          </div>

      </div><!-- .header-inner -->
     
            <!-- Header divider -->
			
			</header>
			
</body>
</html>